@use "element-plus/dist/index.css";

.ma-carousel {
  .el-carousel__container {
    position: relative;
    overflow: hidden;
    border-radius: 24px;
    height: 400px;
  }

  .el-carousel__item {
    img {
      cursor: pointer;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .el-carousel__indicators {
    background: rgba(61, 65, 81, 0.5);
    padding: 0 8px;
    border-radius: 50px;
    bottom: 16px;
    left: 24px;
    transform: none;

    .el-carousel__indicator {
      padding: 4px;
      &.is-active {
        button {
          width: 30px;
        }
      }
      button {
        width: 10px;
        height: 10px;
        border-radius: 50px;
      }
    }
  }
}
