.ma-popover {
  position: relative;
  cursor: help;
  z-index: 2;

  &:hover {
    .ma-popover__content {
      opacity: 1;
      visibility: visible;
    }
  }
}

.ma-popover__content {
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 50%;
  display: inline-block;
  min-width: 13rem;
  max-width: 90%;
  padding: 0.75rem 0.5rem;
  border-radius: var(--border-radius-base);
  background-color: var(--color-white-50);
  box-shadow: 0 0.125rem 0.75rem -0.125rem rgba(0, 0, 0, 0.2);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
  transform: translateX(-50%);
  font-size: 12px;
  font-family: var(--font-family-base);
  color: var(--color-secondary-darkest);

  &::before {
    content: '';
    position: absolute;
    top: -0.5rem;
    left: 50%;
    width: 0;
    height: 0;
    z-index: 9;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.5rem solid var(--color-white-50);
    transition: opacity 0.3s ease-in-out;
    transform: translateX(-50%);
  }
}
