@use '@/styles/utils/colors';

// popover
.ma-popover {
  position: relative;
  cursor: help;
  z-index: 2;

  &:hover {
    .ma-popover__content {
      opacity: 1;
      visibility: visible;
    }
  }
}

.ma-popover__content {
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 50%;
  display: inline-block;
  min-width: 13rem;
  max-width: 90%;
  padding: 0.75rem 0.5rem;
  border-radius: 0.5rem;
  background-color: colors.$neutral-0;
  box-shadow: 0 0.125rem 0.75rem -0.125rem rgba(0, 0, 0, 0.2);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
  transform: translateX(-50%);
  color: colors.$neutral-900;
  font-size: 12px;

  &::before {
    content: '';
    position: absolute;
    top: -0.5rem;
    left: 50%;
    width: 0;
    height: 0;
    z-index: 9;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.5rem solid colors.$neutral-0;
    transition: opacity 0.3s ease-in-out;
    transform: translateX(-50%);
  }
}

// hotel card main layout
.ma-card-hotel {
  max-width: 16rem;
  max-height: 27.5rem;
  min-height: 27.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  background-color: colors.$neutral-0;
  border-radius: 0.75rem;
  box-shadow: 0.25rem 0 0.875rem rgba(66, 66, 66, 0.1);
}

.ma-card-hotel__header {
  position: relative;
}

.ma-card-hotel__body {
  min-height: 9.875rem;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-top: 0.75rem;

  .ma-card-hotel__body-bottom {
    display: flex;
    align-items: flex-end;
    margin-top: 1rem;
  }
}

.ma-card-hotel__link {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
}

// hotel card dynamic badge
.ma-card-hotel-badge {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  z-index: 2;

  &__img {
    height: 3rem;
    width: 3rem;
    object-fit: contain;
  }
}

.ma-card-hotel-favorite {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: white;
  z-index: 2;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #ccc;

  &:hover {
    background-color: colors.$primary;
    color: white;
  }
}

.ma-card-hotel-rating {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 1rem;
  background-color: white;
  transition: all 0.3s ease;
  overflow: hidden;
  font-size: 10px;
  z-index: 2;

  &:hover {
    .ma-card-hotel-rating-label {
      max-width: 10rem;
      opacity: 1;
    }
  }

  .ma-card-hotel-rating-icon {
    display: inline-block;
    margin: 0.25rem;
    height: 1rem;
    width: 1rem;
    object-fit: contain;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    &.rate-1 {
      background-image: url('/rating/icon-1.png');
    }

    &.rate-2 {
      background-image: url('/rating/icon-2.png');
    }

    &.rate-3 {
      background-image: url('/rating/icon-3.png');
    }

    &.rate-4 {
      background-image: url('/rating/icon-4.png');
    }

    &.rate-5 {
      background-image: url('/rating/icon-5.png');
    }
  }

  .ma-card-hotel-rating-rate {
    margin-inline: 0.25rem;
    font-weight: bold;
    font-size: 14px;
    color: colors.$primary;
  }

  .ma-card-hotel-rating-label {
    display: inline-block;
    max-width: 0;
    margin-right: 0.5rem;
    opacity: 0;
    color: colors.$primary;
    transition: all 0.3s ease;
  }
}

.ma-card-hotel__thumbnail {
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 16.25rem;
  width: 100%;
  overflow: hidden;
  line-height: 1;
  background-color: colors.$neutral-300;
  border-radius: 0.5rem;
  aspect-ratio: 8 / 7;
}

// Safari & iOS fallback
@supports not (aspect-ratio: 8 / 7) {
  .ma-card-hotel__thumbnail {
    &::before {
      float: left;
      padding-top: 100%;
      content: '';
    }

    &::after {
      display: block;
      content: '';
      clear: both;
    }
  }
}

// hotel card image
.ma-card-hotel__image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// hotel card top badge
.ma-card-hotel__top-badge-container {
  display: flex;
  flex-direction: row;
}

.ma-card-hotel__top-badge {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 6px;
  padding: 6px;
  border-radius: 4px;
  font-size: 12px;

  .ma-card-hotel__top-badge-text {
    margin-left: 3px;
  }
}

// hotel card title
.ma-card-hotel__title {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 2.875rem;
  margin: 6px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: colors.$neutral-900;
}

// hotel card star rating
.ma-star-sprite {
  position: absolute;
}

.ma-star {
  display: inline-block;
  width: 0.875rem;
  height: 0.875rem;
  margin-left: 2px;
  overflow: hidden;

  svg {
    height: 0.875rem;
    width: 0.875rem;
    object-fit: contain;
  }
}

.ma-card-hotel-star-location {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

// hotel card location
.ma-card-hotel__location {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-size: 12px;
  font-weight: 400;
  color: colors.$neutral-700;
}

// hotel card price
.ma-card-hotel__price-original {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  height: 1.25rem;
}

.ma-card-hotel__price-normal {
  font-size: 0.75rem;
  font-weight: 400;
  color: colors.$neutral-700;
  text-decoration-line: line-through;
  line-height: 1rem;
}

.ma-card-hotel__discount-percent {
  padding: 3px;
  background: colors.$secondary-lightest;
  border-radius: 4px;
  font-size: 0.75rem;
  font-weight: 400;
  color: colors.$failed-500;
  line-height: 1rem;
}

.ma-card-hotel__price-special {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  color: colors.$secondary;
  text-align: right;
}

.ma-card-hotel__room-alert {
  font-weight: 400;
  font-size: 0.75rem;
  color: colors.$failed-500;
}
