@use '@/styles/utils/colors';

.ma-card-section {
  width: 100%;

  &__banner {
    img {
      width: 14.5rem;
      margin-right: 1.5rem;
    }

    &.d-none {
      display: none;
    }
  }

  &__product {
    display: grid;
    grid-gap: 1rem;
    grid-auto-flow: column;
    gap: 1rem;
    z-index: 10;
  }
}

.ma-card-section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ma-card-section__header-link {
  display: flex;
  align-items: center;

  a {
    font-weight: 700;
    font-size: 0.875rem;
    text-transform: capitalize;
    color: colors.$primary;
    text-decoration: none;
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: colors.$primary;
  }
}

h1 {
  font-weight: 700;
  font-size: 1rem;
  text-transform: capitalize;
  color: colors.$neutral-900;

  &.big {
    font-size: 24px;
  }
}

.ma-card-section__header-flashsale {
  display: flex;
  align-items: center;

  .flashsale {
    padding-right: 1rem;

    &__countdown {
      display: flex;
      align-items: center;
    }

    &__countdown-icon {
      font-size: 1rem;
      color: colors.$neutral-900;
      margin-right: .5rem;
    }

    &__countdown-text {
      font-weight: 400;
      margin-right: .5rem;
    }

    &__countdown-time {
      padding: .25rem .5rem;
      background-color: colors.$warning-500;
      border-radius: 50px;
      font-weight: 700;
      text-align: center;
    }
  }
}

.ma-card-section__body {
  height: 29rem;
  display: flex;
  border-radius: 24px;
  z-index: 1;
  align-items: center;
}
