@use '@/styles/utils/functions';
@use '@/styles/utils/colors';

.ma-calendar {
  --el-date-editor-width: 100%;
  --el-input-height: auto;

  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 16px !important;
  line-height: 24px;

  .el-input__wrapper {
    padding: 1rem !important;
    box-shadow: none !important;
    border-radius: functions.toRem(8);
  }
}
