@use "@/styles/utils/colors";
@use "@/styles/mobile/form";

#mobile-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  width: 100%;
  background: colors.$primary;
  color: colors.$neutral-0;

  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
  }

  .header-left {
    position: absolute;
    width: 4rem;
    z-index: 3;
  }

  .header-middle {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.125rem;
    font-weight: 500;

    h1 {
      margin-bottom: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 1.25rem;
      line-height: 56px;
    }
  }

  .btn-header {
    min-width: 0;
    height: 100%;
    width: 100%;
    padding: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

#mobile-footer {
  z-index: 900;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background: colors.$normal-white;
  border-top: 1px solid colors.$normal-7;

  button {
    margin: auto;
    padding: 0.75rem 0;
    width: 100%;
    min-width: calc(50% - 0.75rem);
    background-color: colors.$secondary-1;
    color: colors.$normal-white;
    border: none;
    border-radius: 4px;
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
  }
}

#mobile-banner-login {
  padding: 1.25rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: colors.$bg-1;

  .mobile-banner-login__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }

  .mobile-banner-login__button {
    background: colors.$accent-2;
    border: 1px solid colors.$accent-2;
    border-radius: 4px;
    color: colors.$normal-white;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    font-weight: 500;
  }
}

#modal-window-mobile {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: colors.$normal-white;
  z-index: 1200;

  .modal-window-mobile__body {
    height: calc(100vh - 56px);
    overflow-y: auto;
  }
}

#modal-peek-mobile {
  position: fixed;
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 100vw;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1300;

  .modal-peek-mobile__wrapper {
    width: 100%;
    height: auto;
    overflow-y: auto;
    border-radius: .5rem .5rem 0 0;
    background-color: colors.$neutral-0;
  }

  .modal-peek-mobile__body {
    padding: 1rem 1.5rem;
  }

  .modal-peek-mobile__footer {
    padding: 16px 24px;
    gap: 24px;
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: colors.$neutral-0;
    border-top: 1px solid colors.$neutral-300;
    border-radius: 0;

    > * {
      width: 100% !important;
      margin: 0;
    }

    .btn {
      gap: 24px;
    }
  }
}

#modal-base-mobile {
  position: fixed;
  left: 0px;
  top: 0px;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.3);

  .modal-base-mobile__body {
    position: absolute;
    z-index: 1000;
    overflow: hidden;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: bottom;
    padding: 1rem;
    background: colors.$normal-white;
    border-radius: 0.5rem;
    font-size: 0.75rem;
    text-align: center;
  }

  .modal-base-mobile__image {
    margin-bottom: 1rem;
    text-align: center;
  }

  .modal-base-mobile__title {
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: colors.$normal-2;
  }

  .modal-base-mobile__footer {
    margin-top: 0.5rem;
  }
}

.modal-detail{
   
  .departure{
    padding: 16px;

    .title-departure{
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #424242;
    }

    .airlines{
        margin-top: 16px;
        display: grid;
        grid-template-columns: 20% 80%;

        .img-airline {
          align-self: center;
           img {
              width: 36px;
              height: 24px;
           }
        }

        .name-airline {
          div {
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            color: #424242;
          }
          span {
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            color: #9E9E9E;
          }
        }
    }

    .schedule{
        display: grid;
        grid-template-columns: 10% 90%;
        margin-top: 16px;

        .time-airport{

          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 16px;

            .takeoff{
              display: grid;
              grid-template-columns: 20% 80%;

              .time-date{
                  .time{
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 16px;
                    color: #424242;
                  }
                  .date{
                    margin-top: 4px;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 16px;
                    color: #9E9E9E;
                  }
              }

              .airport{

                .city{
                  font-weight: 600;
                  font-size: 14px;
                  line-height: 16px;
                  color: #424242;
                }

                .place{
                  font-weight: 500;
                  font-size: 12px;
                  line-height: 16px;
                  color: #9E9E9E;
                }

              }

              
           }

           .estimation{
              font-weight: 500;
              font-size: 10px;
              line-height: 16px;
              color: #9E9E9E;
           }

           .landing{
              display: grid;
              grid-template-columns: 20% 80%;

              .time-date {
                  .time {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 16px;
                    color: #424242;
                  }
              
                  .date {
                    margin-top: 4px;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 16px;
                    color: #9E9E9E;
                  }
                }
              
                .airport {
              
                  .city {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 16px;
                    color: #424242;
                  }
              
                  .place {
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 16px;
                    color: #9E9E9E;
                  }
              
                }
                
           }
          
        }
    }

    .luggage{
      margin-top: 16px;
      display: flex;

      .icon{
         
      }
      .capacity{
        margin-left: 7px;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #424242;
      }
      
    }


  }

    .return {
      padding: 16px;
  
      .title-return {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #424242;
      }
  
      .airlines {
        margin-top: 16px;
        display: grid;
        grid-template-columns: 20% 80%;
  
        .img-airline {
          align-self: center;

          img {
            width: 36px;
            height: 24px;
          }
        }
  
        .name-airline {
          div {
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            color: #424242;
          }
  
          span {
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            color: #9E9E9E;
          }
        }
      }
  
      .schedule {
        display: grid;
        grid-template-columns: 10% 90%;
        margin-top: 16px;
  
        .time-airport {
  
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 16px;
  
          .takeoff {
            display: grid;
            grid-template-columns: 20% 80%;
  
            .time-date {
              .time {
                font-weight: 600;
                font-size: 14px;
                line-height: 16px;
                color: #424242;
              }
  
              .date {
                margin-top: 4px;
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                color: #9E9E9E;
              }
            }
  
            .airport {
  
              .city {
                font-weight: 600;
                font-size: 14px;
                line-height: 16px;
                color: #424242;
              }
  
              .place {
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                color: #9E9E9E;
              }
  
            }
  
  
          }
  
          .estimation {
            font-weight: 500;
            font-size: 10px;
            line-height: 16px;
            color: #9E9E9E;
          }
  
          .landing {
            display: grid;
            grid-template-columns: 20% 80%;
  
            .time-date {
              .time {
                font-weight: 600;
                font-size: 14px;
                line-height: 16px;
                color: #424242;
              }
  
              .date {
                margin-top: 4px;
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                color: #9E9E9E;
              }
            }
  
            .airport {
  
              .city {
                font-weight: 600;
                font-size: 14px;
                line-height: 16px;
                color: #424242;
              }
  
              .place {
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                color: #9E9E9E;
              }
  
            }
  
          }
  
        }
      }
  
      .luggage {
        margin-top: 16px;
        display: flex;
  
  
        .capacity {
          margin-left: 7px;
          font-weight: 500;
          font-size: 12px;
          line-height: 16px;
          color: #424242;
        }
  
      }
  
  
  }

  .transit{
      margin-top: -10px;
      padding: 16px;

      .card{
        text-align: center;
         background: #EEF5FF;
         border-radius: 4px;
         padding: 8px;
         font-weight: 500;
         font-size: 10px;
         line-height: 16px;
         margin-bottom: 16px;
      }

            .airlines {
              margin-top: 16px;
              display: grid;
              grid-template-columns: 20% 80%;
      
              .img-airline {
                align-self: center;

                img {
                  width: 36px;
                  height: 24px;
                }
              }
      
              .name-airline {
                div {
                  font-weight: 600;
                  font-size: 14px;
                  line-height: 24px;
                  color: #424242;
                }
      
                span {
                  font-weight: 500;
                  font-size: 12px;
                  line-height: 16px;
                  color: #9E9E9E;
                }
              }
            }
      
            .schedule {
              display: grid;
              grid-template-columns: 10% 90%;
              margin-top: 16px;
      
              .time-airport {
      
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: 16px;
      
                .takeoff {
                  display: grid;
                  grid-template-columns: 20% 80%;
      
                  .time-date {
                    .time {
                      font-weight: 600;
                      font-size: 14px;
                      line-height: 16px;
                      color: #424242;
                    }
      
                    .date {
                      margin-top: 4px;
                      font-weight: 500;
                      font-size: 12px;
                      line-height: 16px;
                      color: #9E9E9E;
                    }
                  }
      
                  .airport {
      
                    .city {
                      font-weight: 600;
                      font-size: 14px;
                      line-height: 16px;
                      color: #424242;
                    }
      
                    .place {
                      font-weight: 500;
                      font-size: 12px;
                      line-height: 16px;
                      color: #9E9E9E;
                    }
      
                  }
      
      
                }
      
                .estimation {
                  font-weight: 500;
                  font-size: 10px;
                  line-height: 16px;
                  color: #9E9E9E;
                }
      
                .landing {
                  display: grid;
                  grid-template-columns: 20% 80%;
      
                  .time-date {
                    .time {
                      font-weight: 600;
                      font-size: 14px;
                      line-height: 16px;
                      color: #424242;
                    }
      
                    .date {
                      margin-top: 4px;
                      font-weight: 500;
                      font-size: 12px;
                      line-height: 16px;
                      color: #9E9E9E;
                    }
                  }
      
                  .airport {
      
                    .city {
                      font-weight: 600;
                      font-size: 14px;
                      line-height: 16px;
                      color: #424242;
                    }
      
                    .place {
                      font-weight: 500;
                      font-size: 12px;
                      line-height: 16px;
                      color: #9E9E9E;
                    }
      
                  }
      
                }
      
              }
            }

            .luggage {
              margin-top: 16px;
              display: flex;
  
  
            .capacity {
              margin-left: 7px;
              font-weight: 500;
              font-size: 12px;
              line-height: 16px;
              color: #424242;
           }
  
            }

  }

  .price-departure {
    padding: 16px;

    .title-price-departure{
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #424242;
    }

    .content{
      display: flex;
      justify-content: space-between;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      color: #9E9E9E;
      margin-top: 20px;
    }

  }

  .price-return {
      padding: 16px;
      margin-top: -15px;
  
      .title-price-return {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #424242;
      }
  
      .content {
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #9E9E9E;
        margin-top: 20px;
      }
  
  }

  .total {
    margin-top: -15px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;

    .title-total{
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #424242;
    }

    .price-total{
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
       color: #DD2C00;
    }

  }
  
}


#passenger-form {
  h3 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 24px;
  }
}



.btn {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem 0;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
.btn-primary {
  color: colors.$normal-white;
  background-color: colors.$secondary-1;
  border: 1px solid colors.$secondary-1;
}
.btn-primary-outline {
  color: colors.$secondary-1;
  background-color: colors.$normal-white;
  border: 1px solid colors.$secondary-1;
}

.m-0 {
  margin: 0 !important;
}
.p-0 {
  padding: 0 !important;
}
.pt-0 {
  padding-top: 0 !important;
}

// general
section {
  padding: 1rem;
  font-size: 12px;

  h2 {
    margin: 0 0 .5rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 24px;
  }

  .btn-link {
    font-weight: 600;
    font-size: 12px;
    color: colors.$primary-1;
    cursor: pointer;
  }
}


#booking-detail-mobile {
  margin-bottom: 75px;
}

.booking-detail__flight-item {
  .flight-item__title {
    display: flex;
    justify-content: space-between;
  }

  .flight-item__info {
    display: flex;
    align-items: center;
    margin-bottom: 0.875rem;

    img {
      height: 24px;
    }

    .flight-item__info-description {
      margin-left: 1rem;
    }

    .flight-item__info--title {
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      color: colors.$normal-1;
    }

    .flight-item__info--subtitle {
      font-weight: 500;
      color: colors.$normal-5;
    }
  }

  .flight-item__route {
    padding: 1rem;
    background: colors.$normal-white;
    border: 1px solid colors.$normal-7;
    border-radius: 8px;

    .flight-item__route-name {
      display: flex;
      align-items: center;
    }

    .flight-item__route--airport {
      font-weight: 500;
      line-height: 24px;
      color: colors.$normal-1;
    }

    .flight-item__route--arrow {
      margin: 0 0.5rem;
    }

    .flight-item__route-time span {
      font-weight: 500;
      line-height: 16px;
      color: colors.$normal-5;

      &:not(:last-child):after {
        content: " \2219 ";
        margin-right: 0.15rem;
      }
    }
  }
}

.booking-detail__passenger {
  padding: 1rem 0;
  border-bottom: 1px solid colors.$neutral-300;

  .booking-detail__passenger-empty {
    display: flex;
    align-items: center;
    color: colors.$primary-1;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;

    svg {
      margin-right: 0.5rem;
    }
  }
}

.booking-detail__info {
  p {
    color: colors.$secondary-1;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
  }
}
