@use 'global';
@use 'typographies';
@use 'element-plus/dist/index.css';

@use 'partials/button/button';
@use 'partials/inputs/input';

@use 'partials/cards/card';
@use 'partials/cards/flight-card';
@use 'partials/cards/flight-card-item';

@use 'utils/functions';
@use 'utils/colors';

@import 'utils/media.scss';

.booking {
  display: grid;
  grid-template-columns: 8fr 4fr;
  max-width: functions.toRem(1200);
  margin: functions.toRem(48) auto;
  gap: functions.toRem(24);

  @include media('<medium') {
    display: flex;
    flex-direction: column;
  }

  &__passenger-header {
    font-weight: 600;
    font-size: functions.toRem(16);
    line-height: functions.toRem(24);
  }

  &__passenger {
    & ~ & {
      &::before {
        content: '';
        width: calc(100% + functions.toRem(48));
        margin-left: functions.toRem(-24);
        height: functions.toRem(1);
        background-color: colors.$normal-7;
        margin-top: functions.toRem(24);
      }
    }
  }

  &__title {
    font-weight: 500;
    font-size: functions.toRem(24);
    line-height: functions.toRem(32);
    grid-column-start: 1;
    grid-column-end: 3;
    color: colors.$normal-2;

    @include media('<medium') {
      display: none;
    }
  }

  &__subtitle {
    font-weight: 600;
    font-size: functions.toRem(20);
    line-height: functions.toRem(32);
    color: colors.$normal-2;

    @include media('<medium') {
      display: none;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: functions.toRem(24);
  }

  &__sidebar {
    display: flex;
    flex-direction: column;
    gap: functions.toRem(24);

    @include media('<medium') {
      order: -1;
    }
  }

  &__main-column-4 {
    display: grid;
    grid-template-columns: min-content repeat(3, 1fr);
    gap: functions.toRem(24);
  }

  &__main-column-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: functions.toRem(24);

    & ~ & {
      padding-top: functions.toRem(24);

      &::before {
        content: '';
        width: calc(100% + functions.toRem(48));
        height: functions.toRem(1);
        background-color: colors.$normal-7;
        flex-shrink: 0;
        margin-left: functions.toRem(-24);
        grid-column: span 2;
      }
    }

    p,
    span {
      font-weight: 600;
      font-size: functions.toRem(16);
      line-height: functions.toRem(24);
    }

    h5 {
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      color: colors.$normal-5;
    }
  }

  &__main-column-2-left {
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: functions.toRem(24);
  }

  &__timeline {
    display: flex;
    flex-direction: column;
    gap: functions.toRem(16);
    padding: functions.toRem(20) functions.toRem(16) !important;
  }

  &__total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
    font-size: 16px;
    line-height: functions.toRem(24);
    flex-wrap: wrap;

    &::before {
      content: '';
      width: calc(100% + functions.toRem(32));
      height: functions.toRem(1);
      background-color: colors.$normal-7;
      flex-shrink: 0;
      margin-left: functions.toRem(-16);
      margin-bottom: functions.toRem(16);
    }

    & > span {
      &:last-of-type {
        color: colors.$secondary-2;
      }
    }
  }

  &__information {
    display: flex;
    flex-direction: column;
    gap: 8px;

    > li {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      color: #757575;
      margin-left: 16px;
    }
  }

  //fdf
  &__detail-status {
    display: flex;
    flex-direction: column;
    gap: functions.toRem(16);

    div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      :last-child {
        font-weight: 600;
      }
    }

    span {
      font-weight: 500;
      font-size: functions.toRem(14);
      line-height: functions.toRem(16);
    }

    &::after {
      content: '';
      width: calc(100% + functions.toRem(32));
      height: functions.toRem(1);
      background-color: colors.$normal-7;
      flex-shrink: 0;
      margin-left: functions.toRem(-16);
    }
  }

  &__price-detail {
    display: flex;
    flex-direction: column;
    gap: functions.toRem(20);
    font-weight: 500;
    font-size: functions.toRem(12);
    line-height: functions.toRem(16);

    &::before {
      content: '';
      width: calc(100% + functions.toRem(32));
      height: functions.toRem(1);
      background-color: colors.$normal-7;
      flex-shrink: 0;
      margin-left: functions.toRem(-16);
      margin-top: functions.toRem(16);
    }

    > div {
      display: flex;
      justify-content: space-between;
    }
  }

  &__price-detail_heading {
    font-weight: 600;
    font-size: functions.toRem(16);
    line-height: functions.toRem(24);
  }

  &__price-detail_total {
    font-weight: 600;
    font-size: functions.toRem(16);
    line-height: functions.toRem(24);
    flex-wrap: wrap;
    gap: functions.toRem(16);

    &::before {
      content: '';
      width: 100%;
      height: functions.toRem(1);
      background-color: colors.$normal-7;
      flex-shrink: 0;
    }
  }

  &__coupon-input {
    display: flex;
    flex-direction: row;
    gap: functions.toRem(16);
  }

  &__coupon-input-form {
    --el-color-primary: #323c9f;
  }

  &__agreement {
    font-style: italic;
    font-weight: 500;
    font-size: functions.toRem(16);
    line-height: functions.toRem(21);
  }
}

.color-red {
  color: colors.$secondary-1;
}

.span-2-column {
  grid-column: span 2;
}

.promo-code {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: colors.$primary-1;
  font-weight: 500;
  font-size: functions.toRem(14);
  line-height: functions.toRem(24);
  background-image: url('/coupon.svg');
  position: relative;
  padding: functions.toRem(16);

  &__add {
    text-transform: uppercase;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  > svg {
    position: absolute;
    width: 100%;
    z-index: -1;
    left: functions.toRem(0);
  }

  > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: functions.toRem(10);
  }
}

.el-alert {
  border-radius: 0 !important;
  color: colors.$white !important;
  font-size: functions.toRem(14) !important;
  padding: functions.toRem(12);
  font-weight: 600 !important;
  position: sticky !important;
}

.el-alert--error.is-light {
  background-color: colors.$error-1 !important;
}

.el-alert--success.is-light {
  background-color: colors.$success-1 !important;
}

.payment-iframe {
  // height: 771px;

  header {
    display: none !important;
  }

  .el-dialog__body {
    padding: 0 !important;
  }
}

.checkout-payment {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.3);
}

.checkout-payment .embed {
  height: calc(100vh - 40px);
  max-height: 640px;
  width: 480px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.3);
  background-color: white;

  @include media('<medium') {
    height: 100vh;
    max-height: unset;
    width: 100vw;
    inset: 0;
  }
}
