@use 'utils/functions';
@use 'utils/colors';

@use 'element-plus/dist/index.css';

.newsletter {
  background-color: colors.$primary-1;
  color: colors.$white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding: functions.toRem(28) functions.toRem(120);

  span {
    max-width: functions.toRem(600);
  }
}

.el-input-group__append {
  box-shadow: none !important;
}
